<form action='/' method='get'>
  <p><button class="btn btn-primary btn-lg" style='position:absolute; left: 10px; top:10px; height: 30px; text-align: center; margin: auto; padding: 0px 0px; width: 50px;'>back</button></p>
</form>
