<div id="caesar-body" class="content-box">
  <div id="caesar-text">

  <h1>Caesar Cipher</h1>

    <form action="/caesar_cipher" method="post">
      <p>enter the message you would like to cipher:</p>
      <input type="text" name="string" value=""><br />
      <p>enter the shift</p>
      <input type="text" name="shift"><br />
      <input type="submit" value="cipher">
    </form>

    <div id="ciphered-message">
      <p>The ciphered message:</p>
      <p><%= @new_text %></p>
    </div>

    <p>"In cryptography, a Caesar cipher, also known as Caesar's cipher, the shift cipher, Caesar's code or Caesar shift, is one of the simplest and most widely known encryption techniques. It is a type of substitution cipher in which each letter in the plaintext is replaced by a letter some fixed number of positions down the alphabet. For example, with a left shift of 3, D would be replaced by A, E would become B, and so on. The method is named after Julius Caesar, who used it in his private correspondence.""</p>
    <p><a href="https://en.wikipedia.org/wiki/Caesar_cipher">source: Wikipedia</a>

  </div>
</div>
