<div class="content-box">
  <h1>
    mini app suite
  </h1><br>
    <h3>
      This is a Sinatra app built to contain smaller projects made in Ruby and Javascript.
    </h3><br>
      <p>
        <a href="https://flanthedev.wordpress.com/">
          flan the dev on WordPress <img src="/wordpress-logo.png" class="icon">
        </a>
      </p>
</div>
