<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="/pomodoro_script.js"></script>
</head>

  <header>
    <nav id="nav">

      <form action='/' method='get'>
        <button class="btn">home</button>
      </form>

      <form action='/hangman' method='GET'>
        <button class="btn">hangman</button>
      </form>

      <form action='/caesar_cipher' method='GET'>
        <button class="btn btn-grey">caesar cipher</button>
      </form>

      <form action='/pomodoro' method='GET'>
        <button class="btn btn-greyer">pomodoro clock</button>
      </form>

      <form action='/etchasketch' method='GET'>
        <button class="btn">etch-a-sketch</button>
      </form>

      <form action='/tictactoe' method='GET'>
        <button class="btn btn-grey">tic tac toe</button>
      </form>

      <form action='/' method='GET'>
        <button class="btn btn-greyer">(coming soon)</button>
      </form>

    </nav>
  </header>
      <body>
    <%= yield %>
  </body>
</html>
