<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>mini app suite | flan the dev</title>
  <meta name="description" content="mini app suite">
  <meta name="author" content="mini app suite">

  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>

  <header>
    <nav id="nav">

      <form action='/' method='get'>
        <button class="btn btn-nav">home</button>
      </form>

      <form action='/caesar_cipher' method='GET'>
        <button class="btn btn-nav">caesar cipher</button>
      </form>

      <form action='/pomodoro' method='GET'>
        <button class="btn btn-nav">pomodoro clock</button>
      </form>

      <form action='/etchasketch' method='GET'>
        <button class="btn btn-nav">etch-a-sketch</button>
      </form>

      <form action='/tictactoe' method='GET'>
        <button class="btn btn-nav">tic-tac-toe</button>
      </form>

      <form action='/numberguess' method='GET'>
        <button class="btn btn-nav">number guess</button>
      </form>

      <form action='/mrgreek' method='GET'>
        <button class="btn btn-nav">mr greek</button>
      </form>

    </nav>
  </header>

  <body>
    <%= yield %>
  </body>

</html>
