
<div id="numberguess-body" class="content-box" style="background: <%= @number_background %>">

  <div id="numbermessage-div">
    <h1><%= @number_message %></h1>
  </div>

  <form action='/guess_a_number' method='post'>
    <input type="text" name="number_guess" autofocus="true"/>
    <input type="submit" value="Guess!" />
  </form>

  <h2>guesses left: <%= @guess_limit %></h2>
    <p>(hint: the number is <%= @number_to_guess %>)</p>

</div>
