<div id="pomodoro-body" class="content-box">

    <h1>Pomodoro Clock</h1>
    <h3 id="timeType"></h3>

      <div id="timeDiv">
        <h1 id="title1">Session Time</h1>
        <button href="#" class="btn btn-grey" id="minus5Clock">-</button>

        <h2 id="num">25</h2>
        <button href="#" class="btn btn-grey" id="add5Clock">+</button>

      </div>

      <div id="breakDiv">
        <h1 id="title1">Break Time</h1>
        <button href="#" class="btn btn-grey" id="minus5Break">-</button>
        <h2 id="breakNum">5</h2>
        <button href="#" class="btn btn-grey" id="add5Break">+</button>
      </div>

    <div>
      <button href="#" class="btn btn-grey" id="start">start</button>
      <br />
      <button href="#" class="btn btn-grey" id="reset">reset</button>
    </div>

</div>
