/* nav */

#nav {
  text-align: center;
  margin: 10px;
  background: #bfbfbf;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#nav form {
  display: inline;
  min-width: 24%;
}

/* common to multiple apps */

.btn {
  min-width: 60px;
  height: 30px;
  border: 0px;
  border-radius: 15px;
  margin: 0 2%;
  padding: 0 10px;
  display: inline;
}
.btn-nav {
  background: Transparent;
  height: 50px;
  font-weight: bold;
  font-size: 1.5em;
}
.btn-grey {
  background: #bfbfbf;
}
.btn:hover {
  background: #ffffff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #565656, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #565656, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #565656, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #565656, #ffffff); /* Standard syntax */
}
.btn:active {
  background: #565656; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #ffffff, #565656); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ffffff, #565656); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ffffff, #565656); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ffffff, #565656); /* Standard syntax */
}

.content-box {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding: 20px;
  min-height: 400px;
  margin: 0 10%;
  border: none;
  border-radius: 15px;
}

.icon {
  height: 20px;
  width: 20px;
  vertical-align: bottom;
}

a, a:visited {
  text-decoration: none;
  color: gray;
}


/* caesar cipher */

#caesar-body {
  font-family: "Times New Roman", serif;
  background-image:url('/img/caesarbackground.jpg');
}
#caesar-text {
  background:rgba(255,255,255,0.7);
  margin: 0px 5%;
  padding: 10px 15%;
  border: none;
  border-radius: 15px;
}
#ciphered-message {
  min-height: 100px;
}


/* pomodoro */

#pomodoro-body {
  background-image: url("https://images.unsplash.com/photo-1474142159249-92e9941d2383?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=&bg=");
}
#pomodoro-body h2 {
  display: inline;
  vertical-align: middle;
}

/* tic tac toe */

#tictactoe-body {
  background: lightgray;
  font-family: 'Gloria Hallelujah', Verdana, cursive;
}
#tictactoe-body input {
  height: 100px;
  width: 100px;
  background-color: Transparent;
  outline: none;
  margin-bottom: 8px;
  vertical-align: top;
  border: 0px;
}
#tictactoe-body form {
  display: inline;
}
#tictactoegrid {
  background-image: url('/img/tictactoegrid.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 320px;
  height: 320px;
  display: block;
  margin: 0 auto;
}
#tictactoe-body img {
  height: 100px;
  width: 100px;
}
#playagain {
  height: 100px;
  width: 100px;
  background-color: Transparent;
  border: 2px solid black;
  border-radius: 50%;
  margin: 10px;
  padding: 10px;
}

/* number guess */
#numberguess-body {
  background: lightgray;
  font-family: 'Gloria Hallelujah', Verdana, cursive;
}
#numbermessage-div {
  min-height: 200px;
}
#numberguess-body input {
  width: 2em;
}
