/* nav */

#nav {
  text-align: center;
  margin-top: 10px;
}
#nav form {
  display: inline;
  margin: 0;
  padding: 0;
  margin: auto;
}

.btn {
  background: #bfbfbf;
  min-width: 60px;
  height: 30px;
  border: 0px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
}

.btn-grey {
  background: #a0a0a0;
}

.btn-greyer {
  background: #707070;
}

.btn:hover, .btn-grey:hover, .btn-greyer:hover {
  background: #ffffff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #565656, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #565656, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #565656, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #565656, #ffffff); /* Standard syntax */
}

/* common to multiple apps */

.content-box {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding: 20px;
  min-height: 400px;
  margin: 10%;
}

.icon {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

a, a:visited {
  text-decoration: none;
  color: gray;
}


/* hangman */

#hangman-body {
  background-image:url('/paperbackground.jpg');

  font-family: 'Gloria Hallelujah', Verdana, cursive;
  margin: 20px;
}
#messagediv, #hintdiv {
  min-height: 80px;
}
#picdiv {
  min-height: 310px;
}
#hangman-body form {
  display: inline;
}

/* caesar cipher */

#caesar-body {
  margin: 10px;
  padding: 10px;
  font-family: "Times New Roman", serif;
  background-image:url('/caesarbackground.jpg');
}
#caesar-text {
  background:rgba(255,255,255,0.7);
  margin: 20px;
  padding: 10px 80px;
}
#ciphered-message {
  min-height: 100px;
}


/* pomodoro */

#pomodoro-body {
  background-image: url("https://images.unsplash.com/photo-1474142159249-92e9941d2383?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=&bg=");
  margin: 10px;
  padding: 10px;
}
#pomodoro-body h2 {
  display: inline;
  vertical-align: middle;
}

/* tic tac toe */

#tictactoe-body {
  margin: 10px;
  padding: 10px;
  background: lightgray;
  text-align: center;
  font-family: 'Gloria Hallelujah', Verdana, cursive;
}
#tictactoe-body input {
  height: 100px;
  width: 100px;
  background-color: Transparent;
  outline: none;
  margin-bottom: 8px;
  vertical-align: top;
  border: 0px;
}
#tictactoe-body form {
  display: inline;
}
#tictactoegrid {
  background-image: url('/tictactoegrid.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 320px;
  height: 320px;
  display: block;
  margin: 0 auto;
}
#tictactoe-body img {
  height: 100px;
  width: 100px;
}
#playagain {
  height: 100px;
  width: 100px;
  background-color: Transparent;
  border: 2px solid black;
  border-radius: 50%;
  margin: 10px;
  padding: 10px;
}

/* number guess */

#numbermessagediv {
  min-height: 200px;
}
